page-profil-form {

    ion-item-divider {
        color: black !important;
        font-size: 20px !important;
        margin: 10px 0;
    }

    ion-label {
        color: black !important;
    }

}
