page-menu-list {

    ion-img {
        background-color: white;
        width: 150px;
        height: 100px;
    }

    ion-row{
        text-align: center;
    }

    ion-item-divider{
        color: black !important;
    }

}
