page-single-menu {

    ion-img {
        height: 300px;
        width: 300px;
        margin: auto;
        display: block;
        background-color: white;
    }

    ion-item-divider {
        background-color: #63C54F !important;
        color: black !important;
    }

}
